html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

a:hover {
  color: $mainPurple;
  font-weight: 900;
}

.btn:hover {
  background-color: $mainPurple;
  color: white;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  margin: 0;
}

h2, h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  color: $mainPink;
  display: block;
  margin: 0 auto;
}

.blue {
  background-color: $mainBlue;
}

.bold {
  color: $mainYellow;
}

.bigbold {
  color: $mainYellow;
  font-size: 5rem;
  font-weight: bold;
}  

.center {
  text-align: center;
}

.video-container {
  margin: 0 auto;
  @mixin atMedium {
    width: 75%;
  }

  @mixin atLarge {
    width: 40%;
  }

  @mixin atXLarge {
    width: 470px;
  }
 

}