.primary-nav {
    padding-top: 1rem;
    
    ul {
        list-style: none;
        text-align: center;
        padding: 0;   

        li {
            margin-bottom: 1em;
            margin-left: 1em;
        }

        a {
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}

