.primary-nav {
    position: absolute;
    background: $mainBlue;
    top: 100%;
    width: 100%;
    display: none;
    
    ul {
        list-style: none;
        text-align: left;
        padding: 0;   

        li {
            margin-bottom: 1em;
            margin-left: 1em;
        }

        a {
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}

