.explainer {
    
}

.fridman {
    width: 70%;
    margin: 0 auto;
    display: block;
}


.section-title {
    padding: 1rem 15px;
    /* border-top: 1px solid transparent; */
}

.fa-crosshairs, .fa-poll {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}