.explainer {
    margin-bottom: 2rem;
}

.fridman {
    width: 85%;
    margin: 0 auto;
    display: block;
}


.section-title {
    padding: 1rem 15px;
    font-size: 26px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
}

.fa-crosshairs, .fa-poll {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}