.explainer {
    margin-bottom: 2rem;
    text-align: center;

    &__last {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    &-grey {
        background-color: $mainGrey;
        /* background-image: url("assets/images/waves.svg");
        background-position: center;
        background-size: cover; */
    }
}

.section-title {
    padding: 1rem 15px 0 15px;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.google-form {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.google-form-mobile {
    grid-column-start: 2;
    justify-self: center;
}
