.explainer {
    margin-bottom: 2rem;

    &__last {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    &-grey {
        background-color: $mainGrey;
        /* background-image: url("assets/images/waves.svg");
        background-position: center;
        background-size: cover; */
    }
}

.fridman {
    width: 85%;
    margin: 0 auto;
    display: block;
}


.section-title {
    padding: 1rem 15px 0 15px;
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.fa-crosshairs, .fa-poll {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}