/* .center-grid-wrap {
    display: grid;
    grid-template-columns: auto 1fr auto;
} */

.top-lists {
    display: grid;
  
    @mixin atMedium {
        grid-template-columns: repeat(auto-fill,minmax(325px,1fr));
        /* grid-template-columns: minmax(5%,1fr) auto auto auto minmax(5%,1fr); */
        grid-gap: 25px;
    }
}

.top-ten-card {
    justify-self: center;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-image: url("assets/images/waves.svg");
    border-radius: 8px;
    box-shadow: 0 10px 1rem rgba(0,0,0,.16);
    color: #fff;
    display: grid;
    grid-template-rows: auto 150px auto;
    margin: 2rem auto;
    padding: 2rem 0;
    text-align: center;
    max-width: 325px;

    @mixin atMedium {
        width: 325px;
    }

    &-blue {
        background-color: $mainBlue;
        
        /* @mixin atMedium {
            grid-column-start: 2;
        } */
    }

    &-purple {
        background-color: $mainPurple;
    }

    &-green {
        background-color: $mainTeal;
        /* @mixin atMedium {
            grid-column-start: 3;
        } */
    }

    &__circle-blue {
        background-color: #006fa6;
        border: solid #00cff4 7px;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 0 auto;

        &-text {
            padding: 25px 25px;
            font-size: 5rem;
            font-weight: 900;
            color: #00cff4;
        }
    }

    &__circle-green {
        background-color: #006252;
        border: solid #00cdc6 7px;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        /* opacity: 0.9; */
        margin: 0 auto;

        &-text {
            padding: 25px 25px;
            font-size: 5rem;
            font-weight: 900;
            color: #00cdc6;

        }
    }

    &__circle-purple {
        background-color: #502673;
        border: solid #9559ca 7px;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        /* opacity: 0.9; */
        margin: 0 auto;

        &-text {
            padding: 25px 25px;
            font-size: 5rem;
            font-weight: 900;
            color: #9559ca;

        }
    }

    &__content {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        padding-top: 0.75rem;
    }

    &__note {
        font-size: 12px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    

    h3 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;      
    }
}


